{{ define "edit-task" }}
<li class="flex flex-row items-center gap-3">
    <form>
        <input type="hidden" name="task-id" value="{{ .Id }}" />
        <button class="h-6 w-6 border border-black rounded" disabled></button>
        <input type="text" name="description" value="{{ .Description }}" />
        <button>
            <svg class="h-6 w-6">
                <use xlink:href="../icons/check.svg#icon"></use>
            </svg>
        </button>
        <button
            hx-get="/tasks/{{ .Id }}"
            hx-target="closest li"
            hx-swap="outerHTML"
        >
            <svg class="h-6 w-6">
                <use xlink:href="../icons/x.svg#icon"></use>
            </svg>
        </button>
    </form>
</li>
{{ end }}
